{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Email</title>
</head>
<body>
    <p>{% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}</p>
    
    <p>{% blocktrans %}Please go to the following page and choose a new password:{% endblocktrans %}</p>
    
    <p><a href="{{ protocol }}://{{ domain }}{% url 'user_app:password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'user_app:password_reset_confirm' uidb64=uid token=token %}</a></p>
    
    <p>{% blocktrans %}Your username, in case you've forgotten: {{ user.get_username }}{% endblocktrans %}</p>
    
    <p>{% blocktrans %}Thanks for using our site!{% endblocktrans %}</p>
    
    <p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>
</body>
</html>
